/*! Общие стили */
.bg-white-grey
  background-color colorWhiteGrey

.block-ttl__comment
  color #aaa
  margin-top -5px

.utp__item
  display -webkit-flex
  display -ms-flex
  display flex
  align-items center
  flex-direction column
  padding 20px 10px 30px
  background-color #fff
  border-radius 4px
  box-shadow 1px 1px 6px #8080809e

.utp__item-descr
  text-align center
  color #aaa
  line-height 1.2em

.utp__item-ttl
  color #000
  text-transform uppercase
  text-align center

.packs
  background-image url(../images/bukovel_zima2.jpg)
  background-size cover
  background-position center
  background-repeat no-repeat
  position relative

.packs__svg
  position absolute
  width 100%
  top 0
  left 0

.packs__svg-svg
  height 30px
  width 100%


.block__ttl.block__ttl_packs
  color #fff
.block-ttl__comment.block-ttl__comment_packs
  color #fff

.packs-item
  background-color #fff
  margin-top 10px
  padding 20px 15px
  border-radius 5px
  text-align center
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column
  align-items center
  transition .2s ease
  box-shadow 0px 0px 20px -6px rgba(0,0,0,0.24)
  transition .2s ease

.packs-item:hover
  box-shadow 5px 6px 29px -1px rgba(0, 0, 0, 0.24)

.packs-item__descr
  line-height 1.2em
  margin 20px 0

.packs-item__descr-item
  color #aaa

.packs-item__img
  width 100%
  height 160px
  background-size cover
  background-repeat no-repeat
  background-position center

.packs-item__img.packs-item__img1
  background-image url(../images/relax.jpg)
.packs-item__img.packs-item__img2
  background-image url(../images/upryazhki.jpg)
.packs-item__img.packs-item__img3
  background-image url(../images/snegohodi.jpg)

.packs-item__ttl
  margin 30px 0 20px

.packs-item__price
  line-height 1em

.packs-item__button
  padding 10px 0
  background-color colorBlue
  display inline-block
  width 140px
  border-radius 50px
  color #fff
  font-weight 600
  transition .2s ease
  cursor pointer

.packs-item__button:hover
  background-color #0379e2

/* Старые стили */
.bg-grey
  background-color #f8f8f8

.bg__right
  background-image url(../images/bg__right.png)
  background-position right bottom
  background-repeat no-repeat

.bg__right2
  background-image url(../images/bg__right2.png)
  background-position right center
  background-size cover
  background-repeat no-repeat

.bg__left
  background-image url(../images/bg__left.png)
  background-position left center
  background-repeat no-repeat
/* /Старые стили */

/*! /Общие стили */
