/*! Footer */

.footer__form
  background-color #adc85a
  padding 30px 0
.footer__form-ttl
  font-size 1.6em
  line-height 1em
  color #fff
  font-weight 600
  margin-bottom 25px
  text-shadow 2px 2px 3px grey
.footer__form-inputs-input
  background-color rgba(255, 255, 255, 0.76)
  border 1px solid #fff
  font-style italic
  padding 5px 13px
  margin 10px 10px
.footer__form-inputs-input:focus
  outline none
.footer__form-inputs-input_submit
  border 2px solid #fff
  color #fff
  font-size 18px
  background-color #9e1918
  font-weight 600
  font-style inherit
  padding 3px 22px
  cursor pointer
  transition .2s ease
.footer__form-inputs-input_submit:hover
  background-color #8c100f

footer
  // background-color bgnav
  position relative
  padding 40px 0 60px


.footer__house-img
  position absolute
  left 0
  bottom 0
  width 100%
  max-width 352px

.footer__ornament
  position absolute
  width 100%
  bottom 0
  left 0
  height 40px
  // background-image url('../images/footer__ornament.png')
  background-size auto 100%
  background-repeat repeat-x

.footer__txt
  font-size 18px
  font-weight 300
  color #000
  line-height 20px

.footer__logo
  margin-bottom 20px

.footer__contacts-ttl
  color #000
  font-size 20px
  margin-bottom 10px

.footer__socials-ttl
  margin-top 10px

.footer__contacts-row-right-row,
.footer__contacts-row-right-txt
  color grey
  font-size 18px

.footer__contacts-row
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row

.footer__contacts-row-left
  width 30px
  margin-right 5px

.footer__contacts-row-left-img
  width 20px

.footer__socials-items
  display -webkit-flex
  display -ms-flex
  display flex

.footer__socials-items-item
  margin-right 3px

.footer__nav-item
  font-size 18px
  font-weight 300
  color lightgrey

.footer__copyright
  font-size 16px
  color #000
  text-align center
  width 100%

.footer__separ
  width 100%
  border-top 1px solid #000
  margin 30px 0 10px

.navbar__navs-nav-a.footer__nav-item
  display block

//! Стрелка Вверх
.scroll-to-top
  z-index 100
  width 42px
  height 42px
  position fixed
  bottom 30px
  right 20px
  text-align center
  background-color textGreen

.scroll-to-top:before
  content ''
  position absolute
  top 50%
  left 50%
  width 20px
  height 20px
  transform rotate(135deg) translate(21%, 50%)
  border 2px solid #fff
  border-top none
  border-right none
//! /Стрелка Вверх

/*! /Footer */
