/*! Header Главная */
.header__main
  min-height 720px
  width 100%
  background-image url('../images/header__img.jpg')
  background-image url('../images/bukovel_zima.jpg')
  background-position center
  background-size cover
  background-repeat no-repeat
  position relative
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column
  .navbar
    flex-grow 0
    position relative
    z-index 10

.header__main-bg
  background-image linear-gradient(180deg, #000000 0%, rgba(242,41,91,0) 100%)
  opacity .7
  position absolute
  top 0
  left 0
  height 100%
  width 100%

.main__slider
  position relative
  flex-grow 1
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column
  justify-content center

.main__slider-txt
  color #fff
  text-align center
  font-size 40px
  line-height 1em
  text-shadow 1px 1px 5px #484848

.main__slider-txt-row-3-span
  color colorBlue
  font-weight 700
  text-shadow 1px 1px 1px #1b1b1b

.main__slider-txt-row.main__slider-txt-row-3
  font-size 20px

.about-us__img
  width 300px
  height 400px
  float left
  margin-right 20px

.slider-items__item
  width 100%
  max-width 400px
  height 300px
  background-color lightgrey
  display inline-block

.slider-items__item-wrap
  padding 0 10px

.slider-reviews__items-item-foto
  width 150px
  height 100px
  background-color lightgrey
  float left



/*! адаптация */
// @media screen and (max-width 500px)
/*! /адаптация */
/*! /Header Главная */
