// Нав меню 
.navbar
  .container
    .row.w-100._m-auto.mt-4.pb-3.pt-3.pb-md-0.pt-md-0
      //- .col.d-flex.justify-content-between.align-items-center.flex-column.flex-md-row.p-0.col_navbar__logo
        .navbar__logo
          a(href='main.html')
            img.navbar__logo-img(src='images/header__logo.png')
      .col.col_navbar__nav
        .navbar__nav
          a(href='#').navbar__nav-item Узнайте о нас
          a(href='#').navbar__nav-item Ознакомьтесь с турами
          a(href='#').navbar__nav-item Посмотрите, как круто в горах
          a(href='#').navbar__nav-item Почитайте отзывы
          a(href='#').navbar__nav-item Выберите подходящий тур
          a(href='#').navbar__nav-item Поехали!
// /Нав меню 
